

  

<div class="custom-file-upload">
    <!--<label for="file">File: </label>--> 

    <h1>Account Statement File Upload</h1>
    <input class="form-control" type="file" id="file" name="myfiles[]" multiple (change)="onFileSelected($event)"/>
    <button type="button" class="btn btn-dark" (click)="onUpload()">Upload</button>
    <h2 *ngIf="message" class="result">{{message.message}}</h2>
    <button type="button" class="btn btn-dark" *ngIf="message" (click)="DataView('DataView')">Move To Visualisation</button>
</div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhZgjIjZ6shLWMmaVyh1Vhcb6V5-7OxKTbIg&usqp=CAU" width="100%" height="200px">


